body{
  background-color: #FFE6E6;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.introduce{
  width: 80%;
}

.introduce__head{
  display: flex;
  justify-content: center;
  position: relative;
}

.introduce__home{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.introduce__link{
  position: absolute;
  left: 0;
  margin-right: 30px;
}

.introduce__title{
  text-align: center;
}

.in__wrap{
  display: flex;
  gap: 10px;
}

.in__left{
  width: 50% ;
  font-size: 17px;
}



.in__right{
  width: 50%;
}

.in__text{
  margin: 0;
}
.in__img{
  width: 100%;
}