

/* header-top */
.hd__top{
  height: 34px;
  background-color: #4CB5F5;
  display: flex;
  justify-content: center;
}

.hd__top-wrap{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hd__top-title{
  color: white;
  font-size: 18px;
}

.hd__top-list{
  display: flex;
  list-style: none;
  gap: 20px;
}

.hd__top-item{
  color: white;
}

/*  header */
header{
  height: 56px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}

.hd__wrap{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.hd__logo{

}

.hd__img{
  border-radius: 50%;
  width: 50px;
}

.hd__list{
  display: flex;
  list-style: none;
  gap: 100px;
  text-transform: uppercase;
}

.hd__item{
  font-size: 20px;
}

.hd__link{
  color: black;
  text-decoration: none;
}

/* Banner   */
.banner{
  position: relative;
  height: 400px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-image: url("https://sinhtour.vn/wp-content/uploads/2021/11/banner-chuan-sinhtour-scaled.jpg");
}

.header__search{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__input{
  position: relative;
  padding: 14px 20px 12px;
  width: 450px;
  outline: none;
  line-height: 20px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #ddd;
  color: rgb(93, 95, 95);
}

.hd__search-icon{
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 2;
}

/* 2 top 10 địa điểm hot  */
main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
}

.hot-places{
  background-color: aliceblue;
}
.hp-recently{
  display: flex;
  
  overflow-x: auto;
}
.hp-recently-infor{
  width: 25%;
  margin-left: 5px;

}
.hp-recently-infor img{
  width: 100%;
  border-radius: 50%;
}


/* 3 du lịch theo miền  */
.regions {}

.rg-dm {
  display: flex;
  justify-content: space-between;
  text-align: center;

}

.rg-noidung {
  display: flex;
  justify-content: space-between;

}

.rg-noidung-anh {
  margin: 10px
}

/* 4 du lịch theo mùa  */
.seasons {}

/* 5 footer */
footer {}