/* 1 header */
.hd__top {
  height: 34px;
  background-color: green;
}

header {
  height: 56px;
  background-color: red;
}

.banner {
  height: 400px;
  background-size: cover;
  background-position: center;
  background-image: url("https://sinhtour.vn/wp-content/uploads/2021/11/banner-chuan-sinhtour-scaled.jpg");
}

/* 2 top 10 địa điểm hot  */
main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
}

.hot-places{
  background-color: aliceblue;
}
.hp-recently{
  display: flex;
  
  overflow-x: auto;
}
.hp-recently-infor{
  width: 25%;
  margin-left: 5px;

}
.hp-recently-infor img{
  width: 100%;
  border-radius: 50%;
}


/* 3 du lịch theo miền  */
.regions {}

.rg-dm {
  display: flex;
  justify-content: space-between;
  text-align: center;

}

.rg-noidung {
  display: flex;
  justify-content: space-between;

}

.rg-noidung-anh {
  margin: 10px
}

/* 4 du lịch theo mùa  */
.seasons {}

/* 5 footer */
footer {}