body{
  position: relative;
}

/* header-top */
.hd__top{
  height: 34px;
  background-color: #4CB5F5;
  display: flex;
  justify-content: center;
}

.hd__top-wrap{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hd__top-title{
  color: white;
  font-size: 18px;
}

.hd__top-list{
  display: flex;
  list-style: none;
  gap: 20px;
}

.hd__top-item{
  color: white;
}

/*  header */
header{
  height: 56px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  /* position: relative; */
  z-index: 100;
}

.hd__wrap{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.hd__logo{

}

.hd__img{
  border-radius: 50%;
  width: 50px;
}

.hd__list{
  display: flex;
  list-style: none;
  gap: 56px;
  text-transform: uppercase;
}

.hd__item{
  font-size: 20px;
}

.hd__link{
  color: black;
  text-decoration: none;
}

/* Banner   */
.banner{
  position: relative;
  height: 400px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-image: url("https://sinhtour.vn/wp-content/uploads/2021/11/banner-chuan-sinhtour-scaled.jpg");
}

.header__search{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__input{
  position: relative;
  padding: 14px 20px 12px;
  width: 450px;
  outline: none;
  line-height: 20px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #ddd;
  color: rgb(93, 95, 95);
}

.hd__search-icon{
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 2;
}

/* 2 top 10 địa điểm hot  */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  padding: 0 20px;
}

.hot-places{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 0 20px 30px 20px;
}
.hp-recently,
.hp-year{
  display: flex;
  overflow-x: auto;
}

.hp-recently::-webkit-scrollbar,
.hp-year::-webkit-scrollbar{
  display: none;
}

.hp-recently-infor,
.hp-year-infor {
  width: 24.3%;
  padding-right: 10px;
  flex-shrink: 0;
}

.hp-recently-infor img{
  width: 100%;
  border-radius: 50%;
}

.hp-recently-content{
  width: 100%;
  text-align: center;
}

/* .hp-year{
  display: flex;
  justify-items: auto;
  overflow-x: auto;
} */
/* .hp-year-infor{
    width: 24.3%;
  padding-right: 10px;
  flex-shrink: 0;

} */

.hp-year-infor img{
  width: 100%;
  border-radius:0;
}
.hp-year-content{
  width: 100%;
}


/* 3 du lịch theo miền  */
.regions {}

.rg-dm {
  display: flex;
  justify-content: space-between;
  text-align: center;

}

.rg-noidung {
  display: flex;
  justify-content: space-between;

}

.rg-noidung-anh {
  margin: 10px
}

/* 4 du lịch theo mùa  */
.seasons {}

/* 5 footer */
footer {}


/* modal - Triệu  */
.modal-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.modal{
  background-color: #fff;
  padding: 20px 20px 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
}

.modal__wrap{
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.modal__header{
  text-align: center;
  font-size: 28px;
}

.modal__body{

}

.modal__input{

}

.modal__input input{
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 16px;
}

.modal__title{
  margin: 12px 0 8px;
}

.modal__forget{
  padding: 8px 0 18px;
}