body{
  position: relative;
}

/* header-top */
.hd__top{
  height: 34px;
  background-color: #4CB5F5;
  display: flex;
  justify-content: center;
}

.hd__top-wrap{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hd__top-title{
  color: white;
  font-size: 18px;
}

.hd__top-list{
  display: flex;
  list-style: none;
  gap: 20px;
}

.hd__top-item{
  color: white;
  cursor: pointer;
}

/*  header */
header{
  height: 56px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  /* position: relative; */
  z-index: 100;
}

.hd__wrap{
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.hd__logo{

}

.hd__img{
  border-radius: 50%;
  width: 50px;
}

.hd__list{
  display: flex;
  list-style: none;
  gap: 56px;
  text-transform: uppercase;
}

.hd__item{
  font-size: 20px;
}

.hd__link{
  color: black;
  text-decoration: none;
}

/* Banner   */
.banner{
  position: relative;
  height: 400px;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-image: url("https://sinhtour.vn/wp-content/uploads/2021/11/banner-chuan-sinhtour-scaled.jpg");
}

.header__search{
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__input{
  position: relative;
  padding: 14px 20px 12px;
  width: 450px;
  outline: none;
  line-height: 20px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #ddd;
  color: rgb(93, 95, 95);
}

.hd__search-icon{
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  font-size: 20px;
  z-index: 2;
}

/* 2 top 10 địa điểm hot  */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 80%;
  padding: 0 20px;
}

.hot-places{
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 0 20px 30px 20px;
}
.hp-recently,
.hp-year{
  display: flex;
  overflow-x: auto;
}

.hp-recently::-webkit-scrollbar,
.hp-year::-webkit-scrollbar{
  display: none;
}

.hp-recently-infor,
.hp-year-infor {
  width: 24.3%;
  padding-right: 10px;
  flex-shrink: 0;
}

.hp-recently-infor img{
  width: 100%;
  border-radius: 50%;
}

.hp-recently-content{
  width: 100%;
  text-align: center;
}

/* .hp-year{
  display: flex;
  justify-items: auto;
  overflow-x: auto;
} */
/* .hp-year-infor{
    width: 24.3%;
  padding-right: 10px;
  flex-shrink: 0;

} */

.hp-year-infor img{
  width: 100%;
  border-radius:0;
}
.hp-year-content{
  width: 100%;
}


/* 3 du lịch theo miền  */
.regions {}

.rg-dm {
  display: flex;
  justify-content: space-between;
  text-align: center;

}

.rg-noidung {
  display: flex;
  justify-content: space-between;

}

.rg-noidung-anh {
  margin: 10px
}

/* 4 du lịch theo mùa  */
.seasons {}
.ss-tren{
  display: flex;
  justify-content: space-between; 
}
.ss-tren-trai{
  width: 50%;
  margin-left: 10px;
}
.ss-tren-phai{
  display: flex;
  align-items: center;
}
.ss-tren-phai a{
  font-size: smaller;
  color:rgb(51, 98, 98);
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}
.ss-tren-phai a:hover{
  color:rgb(123, 161, 123) ;
  transform: scale(1.1);
}
.ss-duoi{
  background-color: aquamarine;
}
.ss-tenmua h3{
  margin-left: 10px;
}
.ss-mua-noi{
  width: 100%;
}
.ss-noi-điaiem{
  display: flex;
  overflow-x:scroll;
}
.ss-noi-điaiem::-webkit-scrollbar{
  display: none;
}
.ss-diadiem-anh{
  flex-shrink: 0;
  width:30%;
  margin: 10px;
}
.ss-diadiem-anh a{
  display: inline-block;
  text-decoration: none;
  color: black;
  transition: transform 0.3s ease-in-out;
}
.ss-diadiem-anh a:hover{
  transform: scale(1.1);
  color:rgb(123, 161, 123);
  z-index: 10;
}
.ss-diadiem-anh img{
  width: 100%;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}
.ss-diadiem-anh img:hover{
  transform: scale(1.1);
  /* z-index: 10; */
}

/* 5 footer */
footer {
  background-color:#4CB5F5;
  font-size:14px;
  padding-top: 5%;
  padding-bottom: 5%;
  color: black;
}

.ft-hotline {
  display: flex;
  flex-direction: column;   
  gap: 15px;                
  margin: 20px 0;
}
.hotline-box1 {
  display: flex;
  background-color: pink;
  align-items: center;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 5px 5px;
  border-radius: 10px;
}
.hotline-box2 {
  display: flex;
  background-color:aquamarine;
  align-items: center;
  border: none;
  font-size: 18px;
  font-weight: bold;
  color: white;
  padding: 5px 5px;
  border-radius: 10px;
}


/* modal - Triệu  */
.modal-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
}

.modal{
  background-color: #fff;
  padding: 20px 20px 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  width: 440px;
  overflow: hidden;
}

#modal__close{
  width: 100%;
  display: flex;
  justify-content: end;
}

.modal__header-title{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.modal__header-title p{
  font-size: 40px;
  margin: 0;
}

.modal__wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__wrap-login{
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transform: translateX(50%);
  transition: all ease 0.6s;
  /* display: none; */
}

.modal__wrap-register{
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* display: none; */
  transform: translateX(100%);
  transition: all ease 0.6s;

}

.modal__header{
  position: relative;
  text-align: center;
  font-size: 28px;
  margin: 10px 0 ;
  cursor: pointer;
}

.hd__login::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color:  #4CB5F5;
  bottom: 0;
  left: 0;
}

.hd__register::after{
  content: "";
  position: absolute;
  height: 2px;
  /* width: 100%; */
  background-color:  #4CB5F5;
  bottom: 0;
  left: 0;
}

.hd__login.active::after{
  width: 100%;
}

.hd__login.hidden::after{
  width:0;
}

.hd__register.active::after{
  width: 100%;
}


.modal__body{

}

.modal__input{

}

.modal__input input{
  width: 100%;
  padding: 10px 0;
  border-radius: 10px;
  font-size: 16px;
}

.modal__title{
  margin: 12px 0 8px;
}

.modal__forget{
  padding: 8px 0 18px;
}

.modal__forget-link{
  color:  #4CB5F5;
  text-decoration: none;
  font-size: 16px;
}

.modal__btn{
  background-color: #4CB5F5;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}

.modal__wrap-register button{
  margin-top: 14px;
}